# dependencies
node_modules/

# Build output
build/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders (example app)
example/ios/

# Android build & cache
android/build/
example/android/.gradle/
example/android/.kotlin/
example/android/build/
example/android/app/build/
example/android/app/.cxx/
example/android/local.properties
*.hprof

# lock files (example uses its own)
package-lock.json
